@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css");

.wrapper {
  max-width: 1200px;
  padding: 0 60px;
  margin: 0 auto;
  overflow: hidden;
}

/* CSS FOR HEADER */
.menu {
  display: none;
}

.header .region-header {
  display: flex;
}

.header {
  background-color: #f2f3f5;
  font-family: "Poppins", sans-serif;
  padding-bottom: 20px;
  padding-top: 10px;
  height: 40px;
}

.banner-img img {
  height: 50%;
  width: 100%;
  opacity: 0.5;
}

.about {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.abc {
  display: flex;
}

.about-section {
  margin-top: 90px;
}

.about-section .view-header {
  text-align: center;
}

.about-section .view-header h2 {
  text-align: center;
  color: #45505b;
}

.about-section .view-header p {
  font-family: serif;
  text-align: center;
}

.about-section .views-field-field-about-image {
  padding-top: 35px;
}

.views-field .about-body {
  padding: 30px;
}

.about-section .view-content .about .about-body p {
  font-family: serif;
  position: relative;
  padding-left: 30px;
}

.about-section .view-content .about .about-body p::before {
  font-size: 18px;
  font-weight: bolder;
  position: absolute;
  content: ">";
  left: 5px;
  top: 0;
  width: 20px;
  height: 10px;
  color: #3a83cc;
}


/* CSS FOR SITE LOGO */
.site-logo img {
  padding-left: 22px;
  height: 52px;
}

/* CSS FOR BANNER TITLE  */

.banner-title {
  position: absolute;
  top: 342px;
  left: 104px;
}


/* CSS FOR ANIMATION */


.body {
  margin-left: 20px;
  position: absolute;
  top: 400px;
  left: 80px;
  bottom: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 84px;
  background: #fefefe;
}

.warpper {
  display: inline-block;
}

.body .static-text {
  position: relative;
  bottom: 2px;
  color: black;
  font-size: 60px;
  font-weight: 400;
}

.body .dyanmic-text {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dyanmic-text li {
  color: #fc6d6d;
  list-style: none;
  font-size: 60px;
  font-weight: 500px;
  position: relative;
  top: 0;
  animation: slide 8s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dyanmic-text li span {
  position: relative;
}

.dyanmic-text li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  border-left: 2px solid #fc6d6d;
  animation: typing 2s steps(10) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

/* CSS FOR SKILLS SECTION  */
.Skills {
  margin-top: 90px;
}

.Skills .view-header {
  text-align: center;
}

.Skills .view-header h2 {
  color: #45505b;
}

.Skills .view-header p {
  font-family: serif;
}

.body1 {
  padding-top: 45px;
  display: flex;
}

.body1 .skill-first {

  padding: 25px;
  margin-right: 25px;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.body1 .skill-first:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.body1 .skill-second {
  padding: 25px;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.body1 .skill-second:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bar {
  position: relative;
  border: 2px solid #0563bb;

}

.bar div {
  position: relative;
  width: 0;
  height: 9px;
  background-color: #0563bb;


}

.skills:not(:last-child) {
  margin-bottom: 30px;
}

#html-bar {
  animation: html-fill 2s forwards;
}

@keyframes html-fill {
  100% {
    width: 100%;
  }
}

#css-bar {
  animation: css-fill 2s forwards;
}

@keyframes css-fill {
  100% {
    width: 85%;
  }
}

#js-bar {
  animation: js-fill 2s forwards;
}

@keyframes js-fill {
  100% {
    width: 72%;
  }
}

#php-bar {
  animation: php-fill 2s forwards;
}

@keyframes php-fill {
  100% {
    width: 80%;
  }
}

#drupal-bar {
  animation: drupal-fill 2s forwards;
}

@keyframes drupal-fill {
  100% {
    width: 75%;
  }
}

#photoshopbar-bar {
  animation: photoshopbar-fill 2s forwards;
}

@keyframes photoshopbar-fill {
  100% {
    width: 55%;
  }
}

/* CSS FOR RESUME SECTION */

.resume-section {
  margin-top: 90px;
  flex-wrap: wrap;
}

.resume-section .view-header {
  justify-content: center;
  text-align: center;
}

.resume-section .view-header h2 {
  color: #45505b;
  justify-content: center;
  text-align: center;
}

.resume-section .view-header p {
  font-family: serif;
}

.resume-section .view-content {
  font-family: serif;
}

.resume-body {
  display: flex;
}

.resume-first {
  padding-right: 25px;
  margin-left: 25px;
  width: 50%;
}

.resume-second {
  margin-right: 25px;
  margin-left: 25px;
  width: 50%;
}

.resume-first h4 {
  color: #0563bb;
}

.resume-second h4 {
  color: #0563bb;
}

.resume-first .vl {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0563bb;
  position: relative;
}

.resume-second .vl {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0563bb;
  position: relative;
}


/* CSS FOR SERVICE SECTION */


.service-section .view-header {
  margin-top: 90px;
  text-align: center;
  padding-bottom: 40px;
}

.service-section .view-header h2 {
  color: #45505b;
}

.service-section .view-header p {
  font-family: serif;
}

.item-list .service-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -15px;
  padding-bottom: 20px;
  list-style: none;
}

.item-list .service-list li {
  width: calc(33.33% - 30px);
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2);

}

.item-list .service-list li p {
  padding: 0 2px;
}

.item-list .service-list li:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.service-list li h3 {
  margin-bottom: 28px;
  margin-top: 0;
  font-size: 20px;
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-left: 12px;
}

/* CSS FOR FOOTER SECTION */
.footer {
  background-color: #f2f3f5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer .footer-section .footer-section1 .view-content {
  text-align: center !important;
  color: dimgrey;

}

.footer .footer-section .footer-section1 .view-content .views-field-title {
  font-size: 30px;
  font-weight: 800;
}

#block-views-block-footer-block-1 .footer-section1 .views-rows {
  text-align: center !important;
}

.block-system-main-block .view-empty {
  display: none;
}

/* CSS FOR SOCIAL  ICONS */
.footer .footer-section .social-icon {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer .footer-section .social-icon li {
  color: #45505b;
  padding: 0 7px;
  font-size: 25px;

}

.footer .footer-section .social-icon li .fa-facebook:before{
  columns: gray;
}
/* CSS FOR IPAD SECTION */

@media screen and (max-width: 1024px) and (min-width: 768px) {

  /* CSS FOR HEADER */
  .menu {
    display: none;
  }

  .header .region-header {
    display: flex;
    width: 100%;
  }

  .header {
    background-color: #f2f3f5;
    font-family: "Poppins", sans-serif;
    width: 104%;
    padding-bottom: 20px;
    padding-top: 10px;
    height: 40px;
  }

  .banner-img img {
    height: 50%;
    width: 100%;
    opacity: 0.5;
  }

  .about {
    width: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  }

  .abc {
    flex-wrap: wrap;
    width: 100%;
  }

  .about-section {
    margin-top: 45px;
  }

  .about-section .view-header {
    text-align: center;
    width: 100%;
  }

  .about-section .view-header h2 {
    width: 100%;
    text-align: center;
    color: #45505b;
  }

  .views-field .about-body {
    width: 100%;
    margin-left: -46px;
    padding: 30px;
  }

  .views-field .banner-img {
    /* margin-left: -1px;
    width: 50%;
    height: auto; */
    margin-left: -24px;
    width: 107%;
    height: auto;
  }

  .views-field .about-img img {
    margin-left: -24px;
    width: 100%;
    height: auto;
  }

  /* CSS FOR SITE LOGO */
  .site-logo img {
    padding-left: 22px;
    height: 52px;
  }

  /* CSS FOR BANNER TITLE  */

  .banner-title {
    position: absolute;
    top: 342px;
    left: 104px;
  }


  /* CSS FOR ANIMATION */

  /*   
  .body {
    margin-left: 20px;
    position: absolute;
    top: 400px;
    left: 80px;
    bottom: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;
    background: #fefefe;
  }
  
  .warpper {
    display: inline-block;
  }
  
  .body .static-text {
    position: relative;
    bottom: 2px;
    color: black;
    font-size: 60px;
    font-weight: 400;
  }
  
  .body .dyanmic-text {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  
  .dyanmic-text li {
    color: #fc6d6d;
    list-style: none;
    font-size: 60px;
    font-weight: 500px;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
  }
  
  @keyframes slide {
    100% {
      top: -360px;
    }
  }
  
  .dyanmic-text li span {
    position: relative;
  }
  
  .dyanmic-text li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    border-left: 2px solid #fc6d6d;
    animation: typing 2s steps(10) infinite;
  }
  
  @keyframes typing {
    100% {
      left: 100%;
      margin: 0 -35px 0 35px;
    }
  } */


  /* CSS FOR FACTS SECTION */

  .views-element-container .Facts section {
    height: 350px;
  }

  .Facts-section .view-header h2 {
    width: 100%;
    text-align: center;

  }

  .view-content .facts-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
  }

  .views-field .facts-body p {
    width: 100%;
    text-align: center;
  }


  /* CSS FOR SKILLS SECTION  */

  .Skills {
    margin-top: 45px;
  }

  .Skills .view-header {
    width: 100%;
    color: #45505b;
    text-align: center;
  }

  .Skills .view-header h2 {
    color: #45505b;
  }

  .body1 {
    margin-left: 10px;
    width: 180%;
    padding-top: 45px;
    flex-wrap: wrap;
  }

  .body1 .skill-first {
    padding: 25px;
    margin-right: 25px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .body1 .skill-first:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .body1 .skill-second {
    margin-top: 15px;
    padding: 25px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .body1 .skill-second:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .bar {
    position: relative;
    border: 2px solid #0563bb;
  }

  .bar div {
    position: relative;
    width: 0;
    height: 9px;
    background-color: #0563bb;
  }

  .skills:not(:last-child) {
    margin-bottom: 30px;
  }

  #html-bar {
    animation: html-fill 2s forwards;
  }

  @keyframes html-fill {
    100% {
      width: 100%;
    }
  }

  #css-bar {
    animation: css-fill 2s forwards;
  }

  @keyframes css-fill {
    100% {
      width: 85%;
    }
  }

  #js-bar {
    animation: js-fill 2s forwards;
  }

  @keyframes js-fill {
    100% {
      width: 72%;
    }
  }

  #php-bar {
    animation: php-fill 2s forwards;
  }

  @keyframes php-fill {
    100% {
      width: 80%;
    }
  }

  #drupal-bar {
    animation: drupal-fill 2s forwards;
  }

  @keyframes drupal-fill {
    100% {
      width: 75%;
    }
  }

  #photoshopbar-bar {
    animation: photoshopbar-fill 2s forwards;
  }

  @keyframes photoshopbar-fill {
    100% {
      width: 55%;
    }
  }

  /* CSS FOR RESUME SECTION */

  .resume-section {
    margin-top: 45px;
    flex-wrap: wrap;
  }

  .resume-section .view-header {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .resume-section .view-header h2 {
    width: 100%;
    color: #45505b;
    justify-content: center;
    text-align: center;
  }

  .resume-body {
    margin-left: -42px;
    width: 180%;
    flex-wrap: wrap;
  }

  .resume-first {
    padding-right: 25px;
    margin-left: 25px;
    width: 50%;
  }

  .resume-second {
    margin-right: 25px;
    margin-left: 25px;
    width: 50%;
  }

  .resume-first h4 {
    color: #0563bb;
  }

  .resume-second h4 {
    color: #0563bb;
  }

  .resume-first .vl {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
  }

  .resume-second .vl {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
  }


  /* CSS FOR SERVICE SECTION */


  .service-section .view-header {
    width: 100%;
    margin-top: 45px;
    color: #45505b;
    text-align: center;
    padding-bottom: 40px;
  }

  .service-section .view-header {

    color: #45505b;
  }

  .item-list .service-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0;
    padding-bottom: 20px;
    list-style: none;
  }

  .item-list .service-list li {
    margin: 7px;
    max-width: 47%;
    text-align: center;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2);

  }

  .item-list .service-list li:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }


  .service-list li h3 {
    margin-bottom: 28px;
    margin-top: 0;
    font-size: 20px;
    color: white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-left: 12px;
  }

  .block-system-main-block .view-empty {
    display: none;
  }

  /* CSS FOR FOOTER SECTION */
  .footer {
    width: 100%;
    background-color: #f2f3f5;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer .footer-wrapper .footer-section1 .view-content .views-rows .views-field-title {
    text-align: center;
    width: 100%;
  }

}
/* CSS FOR SOCIAL  ICONS */
.footer .footer-section .social-icon {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer .footer-section .social-icon li {
  color: #45505b;
  padding: 0 7px;
  font-size: 25px;

}

.footer .footer-section .social-icon li .fa-facebook:before{
  columns: gray;
}


/* CSS FOR MOBILE SECTION */



@media only screen and (max-width: 768px) {

  /* CSS FOR HEADER */
  .menu {
    display: none;
  }

  .header .region-header {
    display: flex;
    width: 100%;
  }

  .header {
    background-color: #f2f3f5;
    font-family: "Poppins", sans-serif;
    /* width: 100%; */
    padding-bottom: 20px;
    padding-top: 10px;
    height: 40px;
  }

  .banner-img img {
    height: 50%;
    width: 100%;
    opacity: 0.5;
  }

  .about {
    width: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  }

  .abc {
    flex-wrap: wrap;
    width: 100%;
  }

  .about-section {
    margin-top: 45px;
  }

  .about-section .view-header {
    text-align: center;
    width: 100%;
  }

  .about-section .view-header h2 {
    width: 100%;
    text-align: center;
    color: #45505b;
  }

  .views-field .about-body {
    width: 100%;
    margin-left: -46px;
    padding: 30px;
  }

  .views-field .banner-img {
    /* margin-left: -1px;
    width: 50%;
    height: auto; */
    margin-left: -24px;
    width: 107%;
    height: auto;
  }

  .views-field .about-img img {
    margin-left: -24px;
    width: 100%;
    height: auto;
  }

  /* CSS FOR SITE LOGO */
  .site-logo img {
    padding-left: 22px;
    height: 52px;
  }

  /* CSS FOR BANNER TITLE  */

  .banner-title {
    position: absolute;
    top: 342px;
    left: 104px;
  }


  /* CSS FOR ANIMATION */

  /*   
  .body {
    margin-left: 20px;
    position: absolute;
    top: 400px;
    left: 80px;
    bottom: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;
    background: #fefefe;
  }
  
  .warpper {
    display: inline-block;
  }
  
  .body .static-text {
    position: relative;
    bottom: 2px;
    color: black;
    font-size: 60px;
    font-weight: 400;
  }
  
  .body .dyanmic-text {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  
  .dyanmic-text li {
    color: #fc6d6d;
    list-style: none;
    font-size: 60px;
    font-weight: 500px;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
  }
  
  @keyframes slide {
    100% {
      top: -360px;
    }
  }
  
  .dyanmic-text li span {
    position: relative;
  }
  
  .dyanmic-text li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    border-left: 2px solid #fc6d6d;
    animation: typing 2s steps(10) infinite;
  }
  
  @keyframes typing {
    100% {
      left: 100%;
      margin: 0 -35px 0 35px;
    }
  } */


  /* CSS FOR FACTS SECTION */
  .views-element-container .Facts section {
    height: 350px;
  }

  .Facts-section .view-header h2 {
    width: 100%;
    text-align: center;

  }

  .view-content .facts-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
  }

  .views-field .facts-body p {
    width: 100%;
    text-align: center;
  }


  /* CSS FOR SKILLS SECTION  */
  .Skills {
    margin-top: 45px;
  }

  .Skills .view-header {
    width: 100%;
    color: #45505b;
    text-align: center;
  }

  .Skills .view-header h2 {
    color: #45505b;
  }

  .body1 {
    margin-left: -12px;
    width: 180%;
    padding-top: 45px;
    flex-wrap: wrap;
  }

  .body1 .skill-first {

    padding: 25px;
    margin-right: 25px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .body1 .skill-first:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .body1 .skill-second {
    margin-top: 15px;
    padding: 25px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .body1 .skill-second:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .bar {
    position: relative;
    border: 2px solid #0563bb;
  }

  .bar div {
    position: relative;
    width: 0;
    height: 9px;
    background-color: #0563bb;
  }

  .skills:not(:last-child) {
    margin-bottom: 30px;
  }

  #html-bar {
    animation: html-fill 2s forwards;
  }

  @keyframes html-fill {
    100% {
      width: 100%;
    }
  }

  #css-bar {
    animation: css-fill 2s forwards;
  }

  @keyframes css-fill {
    100% {
      width: 85%;
    }
  }

  #js-bar {
    animation: js-fill 2s forwards;
  }

  @keyframes js-fill {
    100% {
      width: 72%;
    }
  }

  #php-bar {
    animation: php-fill 2s forwards;
  }

  @keyframes php-fill {
    100% {
      width: 80%;
    }
  }

  #drupal-bar {
    animation: drupal-fill 2s forwards;
  }

  @keyframes drupal-fill {
    100% {
      width: 75%;
    }
  }

  #photoshopbar-bar {
    animation: photoshopbar-fill 2s forwards;
  }

  @keyframes photoshopbar-fill {
    100% {
      width: 55%;
    }
  }

  /* CSS FOR RESUME SECTION */

  .resume-section {
    margin-top: 45px;
    flex-wrap: wrap;
  }

  .resume-section .view-header {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .resume-section .view-header h2 {
    width: 100%;
    color: #45505b;
    justify-content: center;
    text-align: center;
  }

  .resume-body {
    margin-left: -42px;
    width: 180%;
    flex-wrap: wrap;
  }

  .resume-first {
    padding-right: 25px;
    margin-left: 25px;
    width: 50%;
  }

  .resume-second {
    margin-right: 25px;
    margin-left: 25px;
    width: 50%;
  }

  .resume-first h4 {
    color: #0563bb;
  }

  .resume-second h4 {
    color: #0563bb;
  }

  .resume-first .vl {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
  }

  .resume-second .vl {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
  }

  .resume-second ul {
    margin-left: -23px;
  }

  /* CSS FOR SERVICE SECTION */


  .service-section .view-header {
    width: 100%;
    margin-top: 45px;
    color: #45505b;
    text-align: center;
    padding-bottom: 40px;
  }

  .service-section .view-header {
    color: #45505b;
  }

  .item-list .service-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-bottom: 20px;
    list-style: none;
  }

  .item-list .service-list li {
    width: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  }

  .item-list .service-list li:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }


  .service-list li h3 {
    margin-bottom: 28px;
    margin-top: 0;
    font-size: 20px;
    color: white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-left: 12px;
  }


  /* CSS FOR FOOTER SECTION */
  .footer {
    width: 100%;
    background-color: #f2f3f5;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer .footer-wrapper .footer-section1 .view-content .views-rows .views-field-title {
    text-align: center;
    width: 100%;
  }
  
  /* CSS FOR SOCIAL  ICONS */
.footer .footer-section .social-icon {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer .footer-section .social-icon li {
  color: #45505b;
  padding: 0 7px;
  font-size: 25px;

}

.footer .footer-section .social-icon li .fa-facebook:before{
  columns: gray;
}
}